body {
    background: #000; /* พื้นหลังสีดำ */
    width: 83%;
    display: flex;
    justify-content: center; /* จัดกึ่งกลางแนวนอน */
    align-items: center; /* จัดกึ่งกลางแนวตั้ง */
    height: 100vh;
    font-family: consolas, monospace;
}

